= form_tag admin_privileged_application_logs_path(@privileged_application), class: 'form-horizontal' do |f|
  = make_datetime_search_field(f, "登録日時", "created_at")

  .search_row.free_input_area
    - Array.wrap(params[:input_key]).each_with_index do |key, idx|
      - next if  params[:input_key][idx].blank? && params[:input_value][idx].blank?

      = free_input(params[:input_key][idx], params[:input_value][idx])
    = free_input


  .search_btn_area
    = link_to "追加","javascript:void(0);", onclick: "add_input('#{add_input_admin_privileged_application_logs_path(@privileged_application)}');return false" , class: "btn btn-success add_input btn-small"
    = submit_tag "search", class: "btn btn-primary btn-small"
