- model_class = Log
.page-header
  %h1=t '.title', :default => model_class.model_name.to_s.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:log)
      %th= model_class.human_attribute_name(:created_at)
  %tbody
    - @logs.each do |log|
      %tr(data-href= "#{admin_log_path(log)}")
        %td= log.id
        %td= truncate(log.log, length: 30)
        %td=l log.created_at
